<h2>Login Page: </h2>
<form action="/api/register" (ngSubmit)="onSubmit($event)" [formGroup]="loginForm" novalidate>
  <fieldset name="login">
    <div class="form-field">
      <label for="email">Email Address: </label>
      <input required type="email" name="email" id="email" formControlName="email">
    </div>
    <div class="form-field">
      <label for="password">Password: </label>
      <input required type="text" name="password" id="password" formControlName="password">
    </div>
  </fieldset>
  {{loginForm.value | json}}
  <button [disabled]="!loginForm.valid">Submit</button>
</form>

<h2>Current User</h2>
<button (click)="currentUser($event)">Find Out</button>
